<div>

    {% if printer.__connection is None %}

    <form action="/connect" method="post">
        <select name="port" id="port" title="port">
            {% for port in printer.listPorts() %}
            <option value="{{ port }}">{{ port }}</option>
            {% endfor %}
        </select>
        <button type="submit">connect</button>
    </form>


    {% else %}



    <form action="/disconnect" method="post">
        <button type="submit">{{ printer.port }} disconnect</button>
    </form>

    {% endif %}

</div>