<div class="terminal">
    <form action="/set_level" method="post" class="set_level">
        <select name="level" id="level" onchange="this.form.submit()" aria-placeholder="">
            <option value="" disabled selected>select log level</option>
            <option value="0">debug</option>
            <option value="1">info</option>
            <option value="2">warning</option>
            <option value="3">fatal</option>
        </select>
    </form>

    <textarea id="terminal" readonly></textarea>

    <form action="/send_command" method="post">
        <input type="text" name="command" placeholder="Enter G-code (e.g., M105)" required />
        <button type="submit">Send</button>
    </form>

</div>

<script>
    function updateLog() {
        fetch("/serial-log")
            .then((res) => res.json())
            .then((log) => {
                const box = document.getElementById("terminal");
                box.value = log.join("\n");
                box.scrollTop = box.scrollHeight; // auto-scroll to bottom
            })
            .catch(err => console.error("Log fetch failed:", err));
    }

    setInterval(updateLog, 1000);
    window.onload = updateLog;
</script>