body {
    font-family: Arial, sans-serif;
    margin: 2rem;
}



.frame.h1 {

}

.frame {
    background-color: lightblue;
    
}


#terminal {
    width: 350px;
    height: auto;
    resize:horizontal;
}