<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Welcome to your Flask app!</h1>

    {% set label = "new button name" %}
    {% include 'components/button.html' with context%}

    {% set name = "control panel" %}
    {% include 'components/frame.html' with context %}


    <form method="POST">
        <input type="text" name="command" placeholder="Enter G-code (e.g., M105)" required>
        <button type="submit">Send</button>
    </form>
    
</body>
</html>
