<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>pyprint3 - {{ socket.gethostname() }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>

        <h1>connected to {{ socket.gethostname() }}</h1>
    </header>

    <main>

        {% set name = "Control Panel" %}
        {% include 'components/controlpanel.html' with context %}

        {% set name = "File manager" %}
        {% include 'components/file_panel.html' with context %}

    </main>

    <footer>

    </footer>


</body>

</html>